.card_title {
  font-size: 45px;
  font-style: italic;
  font-weight: 400;
 
}

.card_secondtitle {
  font-size: 17px;
  font-weight: 80px;
  margin: 4px;
  padding:3px;
  text-align: justify;
}
.card_p {
  text-align: justify;
  align-items: center;
  margin:13px;
  padding: 7px;
}
.card_button {
  background-color: aliceblue;
  border-radius: 7px;
  border: none;
  box-shadow: 7px 7px;
  color: #0a4188;
  cursor: pointer;
  font-size: 20px;
  margin: 7px;
  padding: 7px 72px;
  text-decoration: none;
  transition: 0.3s;
}
.card_button:hover {
  background-color: #0a4188;
  color: white;
}

.card_app{
align-self: flex-start;
text-align: justify;
font-size: 30px;
margin: 20px;
padding: 9px;


}

.card_options{
  font-size: 20px;
  text-align: justify;
  margin: 23px;
  padding:2px;
  width:100%;
  list-style-type: none;  
}
.StyleWebPage{
  margin:13px; 
  padding:5px;
  text-align: justify;
  height: 10%;
  border-radius: 9px;
  border-style: groove;
  box-shadow: 10px 5px 5px gray;
  list-style-type: none;
}

.SumRestButtons{
  font-size:small; 
  margin: 3px;
  padding: 2px;
  background-color: rgb(241, 86, 58);
  color: white;
  border:none;
  border-radius: 3px;
}


.WarningButtons{
  font-size: xx-small; 
  margin: 5px;
  padding: 2px;
  background-color: yellow;
  border-radius: 7px;
  border-width: 0.9px;
}
