.card_title {
  font-size: 45px;
  font-style: italic;
  font-weight: 400;
}

.card_secondtitle {
  font-size: 20px;
  font-weight: 600px;
  margin: 4px;
  padding:3px;
  text-align: justify;
}
.card_p {
  text-align: justify;
  align-items: center;
  margin:13px;
  padding: 7px;
}
.card_button {
  border-radius: 7px;
  font-size: 20px;
  color: #0a4188;
  background-color: aliceblue;
  margin: 7px;
  padding: 7px 72px;
  transition: 0.3s;
  cursor: pointer;
  border: none;
  box-shadow: 7px 7px;
  text-decoration: none;
}
.card_button:hover {
  background-color: #0a4188;
  color: white;
}

.card_app{
font-size: 25px;
text-align: left;
margin: 9px;
padding: 5px;

}

.card_options{
  font-size: 21px;
  text-align: justify;
  margin: 25px;
  padding:13px;
  width:100%;
  list-style-type: none; 
 
}