.card {
  background-color: salmon;
  border-radius: 10px;
  display: flex;
  font-family: "Montserrat", sans-serif;
  height: 450px;
  justify-content: center;
  padding: 2rem 3rem 3rem 3rem;
  position: absolute;
  text-align: justify;
  width: 750px;
  
}
form {
  margin-top: 2rem;
}
.card_app{
    width: 90%;
    
  }